<div class="why">
  <h2 class="why-title">Почему <p class="highlighted">именно</p> мы?</h2>
  <div class="why__grid">
    <div class="why__block">
      <h5 class="why__block-title">Актуальные и практические знания</h5>
      <span class="why__block-description">Наши преподаватели — это практики с реальным опытом, готовые делиться своими
        знаниями и навыками. Мы предлагаем дуальное образование, которое позволяет вам начать профессиональную
        стажировку уже в первый месяц обучения, совмещая теорию с реальной практикой для более глубокого погружения в
        профессию.</span>
    </div>
    <div class="why__block">
      <h5 class="why__block-title">Сообщество единомышленников</h5>
      <span class="why__block-description">Здесь вы найдете не только друзей, которые разделят ваш путь, но и опытных
        наставников, готовых поддержать, направить и помочь вам развить свои навыки. В этом пространстве каждый шаг –
        это возможность для личного роста и профессионального совершенствования.</span>
    </div>
    <div (click)="navigateToCourse('/about')" class="why__block more">
      +4
    </div>
  </div>
</div>
