<div class="home">
  <div class="home__hero">
    <img src="assets/icons/Ustudy.svg" alt="">
    <span class="home__hero-title">Make people <p class="highlighted">IT</p> minded</span>
  </div>

  <div class="home__grid">
    <div class="home__grid__mainBlock">
      <h2 class="home__grid__mainBlock-title">
        Узнайте, как мы готовим IT специалистов <p class="highlighted">мирового уровня!</p>
      </h2>
      <span class="home__grid__mainBlock-description">
        Приходите на бесплатную экскурсию по нашей академии и окунитесь в мир современных технологий.
      </span>
      <img src="/assets/icons/Code.svg" alt="" class="home__grid__mainBlock-img">
    </div>

    <div class="home__grid__smallBlock course" *ngFor="let course of courses"
         (click)="navigateToCourse('/course/' + course.id)">
      <div class="home__grid__smallBlock-text">
        <h3 class="home__grid__smallBlock-title">{{ course.name }}</h3>
        <p class="home__grid__smallBlock-duration">{{ course.duration }} мес.</p>
      </div>
      <img class="home__grid__smallBlock-img" [src]="'/assets/icons/' + course.key" alt="">
    </div>

    <div (click)="openInNewTab('https://t.me/internship_ITUZ')" class="home__grid__smallBlock event">
      <h3 class="home__grid__smallBlock-title">{{ event.title }}</h3>
      <img class="home__grid__smallBlock-img" [src]="'/assets/icons/' + event.key" alt="">
    </div>

    <div class="home__grid__bigBlock">
      <h3>Записаться на <p class="highlighted">экскурсию</p></h3>
      <form (ngSubmit)="onSubmit()" class="home__grid__bigBlock-form">
        <input type="text" placeholder="Ф.И.О" [(ngModel)]="fullName" name="fullName" required>
        <input type="text" placeholder="(XX)XXX-XX-XX" appPhoneMask [(ngModel)]="phone" name="phone" required>
      </form>
      <button type="button" (click)="onSubmit()">Отправить заявку</button>
    </div>
  </div>
</div>

<app-why-home></app-why-home>
<app-courses></app-courses>
<app-events></app-events>

