<footer class="footer">
  <a href=""><img class="footer-logo" src="/assets/icons/Ustudy.svg" alt=""></a>
  <nav class="footer__nav">
    <div class="footer__nav-block pages">
      <h3 class="footer__nav-block-title">Страницы</h3>
      <ul class="footer__nav-list">
        <a routerLink="/">
          <li class="footer__nav-link">Главная</li>
        </a>
        <a routerLink="/about">
          <li class="footer__nav-link">О нас</li>
        </a>
        <a routerLink="/events">
          <li class="footer__nav-link">Ивенты</li>
        </a>
      </ul>
    </div>
    <div class="footer__nav-block courses">
      <h3 class="footer__nav-block-title">Курсы</h3>
      <ul class="footer__nav-list">
        <a routerLink="/course/01">
          <li class="footer__nav-link">Frontend</li>
        </a>
        <a routerLink="/course/02">
          <li class="footer__nav-link">Backend</li>
        </a>
        <a routerLink="/course/03">
          <li class="footer__nav-link">Введение в кибербезопасность</li>
        </a>
        <a routerLink="/course/04">
          <li class="footer__nav-link">Graphic Design</li>
        </a>
        <a routerLink="/course/05">
          <li class="footer__nav-link">Motion Design</li>
        </a>
      </ul>
    </div>
    <div id="contacts" class="footer__nav-block contacts">
      <h3 class="footer__nav-block-title">Контакты</h3>
      <ul class="footer__nav-list">
        <a target="_blank" href="https://t.me/internship_ITUZ">
          <li class="footer__nav-link">Telegram</li>
        </a>
        <a target="_blank" href="https://www.instagram.com/ustudy.uz/">
          <li class="footer__nav-link">Instagram</li>
        </a>
        <a target="_blank" href="https://www.youtube.com/@Ustudyuz">
          <li class="footer__nav-link">Youtube</li>
        </a>
      </ul>
      <a target="_blank"
         href="https://www.google.com/maps/place/Raqamli+texnologiyalar+vazirligi/@41.3423461,69.3365198,17z/data=!4m6!3m5!1s0x38aef5a58c63cbfd:0xcb882f0ad7acf773!8m2!3d41.3422894!4d69.3368565!16s%2Fg%2F11vhc__mdv?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
         class="footer__nav-block-address">Республика Узбекистан, город Ташкент, улица Муминова, 7/2, внутри здания
        Uzinfocom.</a>
      <a href="tel:+998555915353">+998 (55) 501 53 53</a>
    </div>
    <div class="footer__nav-block langs">
      <h3 class="footer__nav-block-title">Языки</h3>
      <ul class="footer__nav-list">
        <a routerLink="/">
          <li class="footer__nav-link selectedLang">Русский</li>
        </a>
        <a routerLink="/">
          <li class="footer__nav-link">O’zbekcha</li>
        </a>
        <a routerLink="/">
          <li class="footer__nav-link">Узбекча</li>
        </a>
      </ul>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2995.4603782041418!2d69.3365198!3d41.3423461!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef5a58c63cbfd%3A0xcb882f0ad7acf773!2sRaqamli%20texnologiyalar%20vazirligi!5e0!3m2!1sru!2s!4v1730192378595!5m2!1sru!2s"
      style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </nav>
</footer>
