<div class="courseDetails">
  <div class="courseDetails-top">
    <img class="courseDetails-img" [src]="'/assets/icons/' + card?.key" alt="">
    <h2 class="courseDetails-title">{{ card?.name }}</h2>
  </div>
  <span class=" courseDetails-descr">{{ card?.description }}</span>
  <div class="courseDetails__what">
    <h3 class="courseDetails__what-title">Чем занимается спец. этой должности?</h3>
    <span class="courseDetails__what-text">{{ card?.roleDescription }}</span>
  </div>
  <app-why></app-why>
  <div class="courseDetails__priceList">
    <div class="courseDetails__priceList__block fullPrice">
      <h3 class="courseDetails__priceList__block-title">Оплата разом</h3>
      <div class="courseDetails__priceList__block-price">
        <div class="oldPrice"><p>{{ ((card?.price ?? 0) * (card?.duration ?? 0)) | priceFormat }} cум</p> <span
          class="discount">-5%</span></div>
        <h4>{{ ((card?.price ?? 0) * (card?.duration ?? 0)) * 0.95 | priceFormat }} сум</h4>
      </div>
    </div>
    <div class="courseDetails__priceList__block byParts">
      <h3 class="courseDetails__priceList__block-title">Помесячная оплата</h3>
      <div class="courseDetails__priceList__block-price">
        <h4>{{ (card?.price ?? 0)| priceFormat }} сум/мес.</h4>
      </div>
      <div class="popular">Популярно!</div>
    </div>
  </div>
  <app-sign-up></app-sign-up>
</div>
