.courseDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0 20px;

  &-top {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &-img {
    height: 40px;
  }

  &-title {
    font-size: 48px;
    font-weight: 700;
  }

  &-descr {
    font-size: 32px;
  }

  &__what {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;

    &-title {
      font-size: 40px;
    }

    &-text {
      font-size: 28px;
    }
  }

  &__priceList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 60px 0 20px;
    height: 400px;

    .byParts {
      border: 3px solid #61d93e;
    }

    &__block {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: #282828;
      border-radius: 20px;
      padding: 25px;
      background-image: url('/assets/icons/bg/Vector 16.svg');
      background-repeat: no-repeat;
      background-position: 100% 100%;

      &-title {
        font-size: 24px;
      }

      &-price {
        display: flex;
        flex-direction: column;

        .oldPrice {
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            color: #7e7e7e;
            text-decoration: line-through;
            font-size: 18px;
          }

          .discount {
            padding: 2px 10px;
            font-size: 14px;
            border-radius: 100px;
            text-decoration: none;
            background-color: #61d93e;
          }
        }

        h4 {
          font-size: 32px;
        }
      }

      .popular {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 100px;
        background-color: #61d93e;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
