<header class="header">
  <div class="header-logo">
    <a routerLink="/"><img src="assets/icons/Ustudy.svg" alt="" class="header-logo-main"></a>
    <img src="assets/icons/Uzinfocom.svg" alt="" class="header-logo-more">
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <a href="#courses">
        <li class="header__nav-link">Курсы</li>
      </a>
      <a routerLink="/about">
        <li class="header__nav-link">О нас</li>
      </a>
      <a routerLink="/events">
        <li class="header__nav-link">Ивенты</li>
      </a>
      <a href="#contacts">
        <li class="header__nav-link">Контакты</li>
      </a>
      <li class="header__nav-link"><select name="" id="">
          <option value="Ru">Ру</option>
          <option value="Ru">Уз</option>
          <option value="Ru">O'z</option>
        </select></li>
    </ul>
    <a href="https://web.telegram.org/a/#7532838887"><button class="header__nav-btn">Записаться на
        экскурсию</button></a>
  </nav>
</header>
