.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  position: relative;
  transition: .3s;

  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &-main {
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;

    &-list {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
    }

    &-link {
      font-size: 24px;
      color: white;

      select {
        font-size: 24px;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        border-radius: 20px;

        option {
          color: #282828;
        }
      }
    }

    &-btn {
      padding: 6px 20px;
      background-color: #3461cc;
      font-size: 24px;
      color: white;
    }
  }
}
