<header class="header">
  <div class="header-logo">
    <img (click)="navigateToCourse('/')" src="assets/icons/Ustudy.svg" alt="" class="header-logo-main">
    <a target="_blank" href="https://uzinfocom.uz/"><img src="assets/icons/Uzinfocom.svg" alt=""
                                                         class="header-logo-more"></a>
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li (click)="navigateToCourse('/about')" class="header__nav-link">О нас</li>
      <li (click)="navigateToCourse('/events')" class="header__nav-link">Ивенты</li>
      <a href="#contacts">
        <li class="header__nav-link">Контакты</li>
      </a>
      <li class="header__nav-link"><select name="" id="">
        <option value="Ru">Ру</option>
        <option value="Uz">Уз</option>
        <option value="Oz">Oz</option>
      </select></li>
    </ul>
    <a target="_blank" href="https://web.telegram.org/a/#7532838887">
      <button class="header__nav-btn">Записаться на
        экскурсию
      </button>
    </a>
  </nav>
</header>
