.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  position: relative;

  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;

    &-list {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
    }

    &-link {
      font-size: 24px;
      color: white;

      select {
        font-size: 24px;
        color: #fff;
        background-color: #181818;
        cursor: pointer;
      }
    }

    &-btn {
      padding: 6px 20px;
      background-color: #61d93e;
      font-size: 24px;
      color: white;
    }
  }
}
