.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный цвет */
  opacity: 0;
  pointer-events: none; /* Чтобы не блокировать клики */
  transition: opacity 0.5s ease; /* Плавное исчезновение */
  z-index: 1000; /* Убедитесь, что перекрытие на переднем плане */
}

.overlay.active {
  pointer-events: auto; /* Блокируем клики только когда активен */
  opacity: 1; /* Полная непрозрачность при активации */
}
