$index: calc(1vh + 1vw);

::-webkit-scrollbar {
  width: 8px; /* Уменьшает ширину вертикальной полосы прокрутки */
  height: 8px; /* Уменьшает высоту горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #3c3c3c;
}

::-webkit-scrollbar-thumb {
  background: #282828;
}


::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

@font-face {
  font-family: "Onest";
  src: url("../public/assets/fonts/Onest.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Onest";
  color: white;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.body {
  padding: 20px 40px;
  background-color: #181818;
}

.highlighted {
  color: #61d93e;
  display: inline-block;
}

.footnote {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.info {
  color: rgba(255, 255, 255, 0.7);
}

.attention {
  color: #61d93e;
  font-weight: 600;
  display: inline-block
}

button {
  border-radius: 7px;
  cursor: pointer;
}

.transitionOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: -15%;
  left: -10%;
  right: -10%;
  bottom: -15%;
  transition: 1.3s cubic-bezier(0.68, -0.55, 0.17, 1.5);
  user-select: none;
  background-image: linear-gradient(0deg, #181818, #282828);

  scale: 0;
  opacity: 0;
  filter: blur(100px);

  &.redirect {
    scale: 1;
    opacity: 1;
    filter: blur(0);
  }

  img {
    width: 20%;
  }
}
