<div class="about">
  <div class="about__hero">
    <h3 class="about__hero-title">О нас</h3>
    <span class="about__hero-descr">Ustudy — это учебный центр, основанный в 2024 году компанией Uzinfocom с целью подготовки высококвалифицированных специалистов в области информационных технологий и создания платформы для новых талантов. Главная миссия центра — обучить и привлечь будущих сотрудников, способных внести вклад в развитие как компании Uzinfocom, так и всей IT-индустрии страны. <br/>
Ustudy предлагает современную образовательную среду, оборудованную по последнему слову техники, чтобы обучающиеся могли погрузиться в процесс и получить необходимые навыки для построения успешной карьеры. Специализация центра охватывает ключевые направления IT: frontend-разработку, где обучают созданию интерактивных и удобных интерфейсов; backend-программирование, позволяющее углубиться в архитектуру серверной части и взаимодействие с базами данных; кибербезопасность, обеспечивающую понимание защиты информации в современном цифровом мире; а также графический дизайн и motion design для тех, кто стремится развить творческий потенциал и освоить визуальные коммуникации. <br/>
Каждое направление построено так, чтобы студенты могли получить не только теоретические знания, но и практические навыки, востребованные на рынке. Курсы в Ustudy ориентированы на актуальные технологии и тенденции, что позволяет выпускникам успешно адаптироваться в условиях быстро меняющейся IT-индустрии.</span>
  </div>
  <app-why></app-why>
</div>
